<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Pagina In Manutenzione</title>
    </head>

    <body>
      {{> header}}

      {{UrlaLo testo}}

    <!-- inietta markup footer con handlebars tramite file partial - inserire segno > e poi nome file.hbs senza estensione -->
    {{> footer}}
    </body>
</html>
