<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Pagina In Manutenzione</title>
    </head>
    <body>
    <h1>Sito in Manutenzione</h1>
    <p>ci scusiamo per il disagio</p>
    </body>
</html>
