<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Projects Page</title>
    </head>
    <body>
      {{>header }}
      <h1>{{titoloPagina}}</h1>
      <h2>Project created</h2>
      {{> footer}}
    </body>
</html>
